.summer-container {

    #summer-anime {
        display: grid;
        grid-template-columns: repeat(4, 24%);
        grid-gap: 20px 20px;
    }

    .summer-anime-container {
        display: flex;
        flex-direction: column;
        border: solid grey 1px;
        height: 370px;
        background-color: #fff;

        .title-section {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: column;


            .title {
                font-size: 1rem;
                font-weight: bold;
                margin: 5px 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 95%;
                text-align: center;
            }

            .genre-section {
                display: flex;
                justify-content: center;
                margin-bottom: 5px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 95%;


                .genre {
                    margin: 0 10px;
                    font-size: .9rem;
                }
            }
        }

        .body-section {
            display: flex;
            height: 325px;

            .anime-img {
                padding-right: 10px;
                height: 325px;
                width: 250px;
            }

            .right-body-section {
                display: flex;
                flex-direction: column;

                .synopsis {
                    overflow-y: auto;
                    height: 100%;
                }
            }

        }
    }
}