.summer-container {

    #summer-anime {
        display: grid;
        grid-template-columns: repeat(4, 24%);
        grid-gap: 20px 20px;
    }

    .summer-anime-container {
        display: flex;
        flex-direction: column;
        border: solid grey 1px;
        height: 370px;
        background-color: #fff;

        .title-section {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: column;


            .title {
                font-size: 1rem;
                font-weight: bold;
                margin: 5px 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 95%;
                text-align: center;
            }

            .genre-section {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 95%;


                .genre {
                    margin: 0 10px;
                    font-size: .9rem;
                }
            }
        }

        .body-section {
            display: flex;
            height: 310px;

            .anime-img {
                padding-right: 10px;
                height: 310px;
                width: 250px;
            }

            .right-body-section {
                display: flex;
                flex-direction: column;

                .air-date {
                    margin-bottom: 4px;
                }

                .source {
                    margin-bottom: 10px;
                    text-align: center;
                }

                .synopsis {
                    overflow-y: auto;
                    height: 100%;
                }
            }
        }

        ::-webkit-scrollbar {
            width: 10px;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 10px rgba(233, 227, 227, 0.3);
            border-radius: 10px
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 10px rgba(34, 32, 32, 0.3);
        }
    }
}