/* general */
header.header a {
    color: #fff;
    font-size: 1.2rem;
}

header .hov:hover {
    background-color: rgba(255, 255, 255, .4);
}

header .home-link-text {
    font-size: 2.3rem;
}

/* Top Nav */
.top-nav {
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(to right, rgba(236, 43, 43, 0.5), rgba(35, 235, 35, .8), rgb(32, 32, 214));
    padding: 0px 10px;
    height: 30px;
}

.top-nav ul {
    display: flex;
}

.top-nav ul li {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .5s ease-in-out;
}

.top-nav div a {
    margin-left: 20px;
}

/* Bottom Nav */
.bottom-nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 1);
    padding: 0px 10px;
}

.bottom-nav .home-link {
    font-size: 3rem;
    font-weight: 700;
}

.bottom-nav .bottom-ul {
    display: flex;
}

.bottom-nav .bottom-ul li {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    transition: all .5s ease-in-out;
}